$primary-color: #F7691F;
$secondry-color: #F4F8FC;
$active-color: #f1d5c7;
$danger-color: #97482A;
$dark-color: #333743;
$white-color: #ffffff;
$gray-01: #D8D8D8;;
$gray-02: #979797;
$gray-03: #6e6e6e;
$gray-04: #F9F9F9;
$gray-05: #DEDEDE;
$gray-05: #F6F5F5;
$gray-06: #D8D8D8;
$gray-07: #333743;
$gray-08: #4A4A4A;
$blue-01: #4A90E2;